<!DOCTYPE html>
<html ng-app = 'wallPage'>
<head>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"/></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>

	<script type="text/javascript" src = "/static/js/wall_module.js"></script>
	<script type="text/javascript" src = "/controllers/postController.js"></script>
	<script type="text/javascript" src = "/controllers/commentController.js"></script>
	<script type="text/javascript" src = "/factories/postFactory.js"></script>
	
</head>
<body ng-controller = 'postsController'>
	<div ng-load-script></div>
	<div class="container">
		<div class="header">
			<ul class="nav nav-tabs nav-justified"> 
				<li role = "presentation ">CodingDojo Wall</li>
				<li role = "presentation" ng-model = 'current_user'>Welcome {{current_user}}</li>
				<li role = "presentation"><a href="/logoff">log off</a></li>
			</ul>
		</div>
		<form>
			<label for="post_message">Post a message</label>
			<div class="form-group">
				<textarea name="post_message" id="post_message" rows="2" cols="65" ng-model = "newPost.user_post"></textarea>
			</div>
			<button class="btn btn-primary" type = "submit" name = "post" ng-click = "submitPost()">Post a message</button>
		</form>
		<div ng-repeat = "post in posts_comments">
			<h4 >{{post.first_name}}   {{post.last_name}} -  {{post.post_created_at}}</h4>
			<div ng-if = "post.posted_by == current_user" class="align_postData">
				<button class="btn btn-primary " ng-click = "updatePost()">Edit Post</button>
				<textarea name="edit_post" id="edit_post" rows="1" cols="55" ng-model = "user.editPost" ng-show = "show_editPost"></textarea>
				<button class="btn btn-danger " ng-click = "deletePost()">Delete Post</button>
			</div>
			<p class="align_text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{post.post_text}}<p>
			<div ng-repeat = 'comment in post.comments'>
				<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.commented_by}} - {{comment.comment_created_at}}</h5>
				<p class="align_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment_text}}</p>
				<div ng-if = "comment.commented_by == current_user" class="align_btn">
					<button class="btn btn-primary " ng-click = "show_editComment = true;show_comment = false" ng-show = "show_comment">Edit Comment</button>
					<button class="btn btn-sm btn-danger  align_btn" ng-click = "deleteComment()" ng-show = "show_comment">Delete Comment</button>

					<textarea name="edit_comment" id="edit_comment" rows="1" cols="55" ng-model = "userComment.editComment" ng-show = "show_editComment"></textarea>
					<button class="btn btn-primary btn-sm" ng-click = "updateComment(post.post_id,comment.comment_id,userComment)" ng-show = "show_editComment">Save</button>
					<button class="btn btn-primary btn-sm" ng-show = "show_editComment"><a href="/home" style="color:white">Cancel</a></button>
				</div>
			</div>
			<form>
				<label for="comment_message">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Post a comment</label>
				<div class="form-group textbox">
					<textarea name="comment_message" id="comment_message" rows="2" cols="55" ng-model = "newComment.user_comment"></textarea>
				</div>
				<button class="btn btn-primary" type = "submit" name = "comment" ng-click = "submitComment(newComment,post.post_id)">Post a comment</button>
			</form>
		</div>
	</div>
</body>
</html>